{% extends "base.html" %}
{% block title %} Generate QRcode {% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/home.css')}}"> 
{% endblock styles %}
{% block scripts %} 
{% endblock scripts %}

{% block content %}
    <div class="">
        <form action="" method="post">
            <legend> QR CODE DATA</legend>
            <p>Message :</p>
            <input type="text" name="message" id="message" placeholder="Message or URL">
            <p>   </p>
            <br><button class="btn btn-primary" type="submit">SUBMIT</button>
            <br><br>
            <a href="{{url_for('home.homepage')}}">Home</a>
        </form>
    </div>
{% endblock content %}