<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generate qrcode</title>
</head>
<body>
    <div class="">
        <form action="" method="post">
            <legend> QR CODE DATA</legend>
            <p>Message :</p>
            <input type="text" name="message" id="message" placeholder="Message or URL">
            <p>   </p>
            <br><button type="submit">SUBMIT</button>
            <a href="{{url_for('home.homepage')}}">Home</a>
        </form>
    </div>
</body>
</html>