{% extends "base.html" %}
{% block title %} Generate QRcode {% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/home.css')}}">

<style>
    .container{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center
    }
    .img{
    width:40%;
    }
</style> 
{% endblock styles %}

{% block scripts %} 
{% endblock scripts %}


{% block content %}
    <h1 class="container">Download your QRCODE image</h1>
    <div class="container">
    <button class="btn btn-primary"><a href="{{url_for('static', filename=filename)}}" download><i fa-fa-download></i>DOWNLOAD</a></button>
    <br>
    <img class="img" style=" " src="{{url_for('static', filename=filename)}}">
    <br>
    <a href="{{url_for('home.homepage')}}">Home</a>
    <br>
    </div>
{% endblock content %}