<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>generate qrcode</title>
</head>
<body>
    <div class="">
        <h1>Welcome to QR-ONLINE</h1>
        <p>Generate a QRCode online with our wonderful webapp</p>
        <button><a href="/generate">GET STARTED</a></button><br>
        <small>Created by Jtechlabs</small>
    </div>
</body>
</html>